In [1]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [2]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 21.2MB/s]

In [3]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [126]:
!pip install -q pycaret

In [114]:
!pip install -q catboost

     |████████████████████████████████| 76.6 MB 1.4 MB/s

# Here We Go!

In [152]:
#imports
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsRegressor

import scipy.stats

from sklearn.preprocessing import StandardScaler

from pycaret.regression import setup, compare_models

from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.model_selection import KFold, cross_val_score

## Load Data

In [5]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [6]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df_train.shape

(891, 12)

In [9]:
df_test.shape

(418, 11)

## Combine train and test data

In [8]:
target = df_train['Survived']
testIds = df_test['PassengerId']

train = df_train.drop(['PassengerId', 'Survived'], axis = 1)
test = df_test.drop('PassengerId', axis=1)

data = pd.concat([train, test], axis=0).reset_index(drop=True)
data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1304,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

## Primer acercamiento y entendimiento de los datos

In [10]:
data.select_dtypes(np.number)

      Pclass   Age  SibSp  Parch      Fare
0          3  22.0      1      0    7.2500
1          1  38.0      1      0   71.2833
2          3  26.0      0      0    7.9250
3          1  35.0      1      0   53.1000
4          3  35.0      0      0    8.0500
...      ...   ...    ...    ...       ...
1304       3   NaN      0      0    8.0500
1305       1  39.0      0      0  108.9000
1306       3  38.5      0      0    7.2500
1307       3   NaN      0      0    8.0500
1308       3   NaN      1      1   22.3583

[1309 rows x 5 columns]

In [11]:
data.select_dtypes(np.object_)

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
1304,"Spector, Mr. Woolf",male,A.5. 3236,NaN,S
1305,"Oliva y Ocana, Dona. Fermina",female,PC 17758,C105,C
1306,"Saether, Mr. Simon Sivertsen",male,SOTON/O.Q. 3101262,NaN,S
1307,"Ware, Mr. Frederick",male,359309,NaN,S
1308,"Peter, Master. Michael J",male,2668,NaN,C

In [13]:
pd.unique(data['Cabin'])

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [14]:
pd.unique(data['Embarked'])

array(['S', 'C', 'Q', nan], dtype=object)

In [103]:
pd.unique(data['Ticket'])

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376', '330911', '363272', '240276',
       '315154', '7538', '330972', '2657', '349220', '694', '21228',
       '24065', '233734', '2692', 'STON/O2. 3101270', '2696', 'C 17368',
       'PC 17598', '2698', '113054', 'C.A. 31029', '13236', '2682',
       '342712', '315087', '345768', '113778', 'SOTON/O.Q. 3101263',
       '237249', 'STON/O 2. 3101291', 'PC 17594', '370374', '13695',
       'SC/PARIS 2168', 'SC/A.3 2861', '349230', '348122', '349232',
       '237216', '347090', '334914', 'F.C.C. 13534', '330963', '2543',
       '382653', '349211', '3101297', 'PC 17562', '359306', '11770',
       '248744', '368702', '19924', '349238', '240261', '2660', '330844',
       'A/4 31416', '364856', '347072', '345498', '376563', '13905',
       '350033', 'STON/O 2. 3101268', '347471', 'A./5. 3338', '11778',
       '365235', '347070', '330920', '383162', '3410', '248734', '237734',
       '330968', 'PC 17531', '329944', '2681', '13050', '367227',
       '392095', '368783', '350045', '211535', '342441',
       'STON/OQ. 369943', '113780', '2621', '349226', '350409', '2656',
       '248659', 'SOTON/OQ 392083', '17475', 'SC/A4 23568', '113791',
       '349255', '3701', '350405', 'S.O./P.P. 752', '347469', '110489',
       'SOTON/O.Q. 3101315', '335432', '220844', '343271', '237393',
       'PC 17591', '17770', '7548', 'S.O./P.P. 251', '2670', '2673',
       '233478', '7935', '239059', 'S.O./P.P. 2', 'A/4 48873', '28221',
       '111163', '235509', '347465', '347066', 'C.A. 31030', '65305',
       'C.A. 34050', 'F.C. 12998', '9232', '28034', 'PC 17613', '349250',
       'SOTON/O.Q. 3101308', '347091', '113038', '330924', '32302',
       'SC/PARIS 2148', '342684', 'W./C. 14266', '350053', 'PC 17606',
       '350054', '370368', '242963', '113795', '3101266', '330971',
       '350416', '2679', '250650', '112377', '3470', 'SOTON/O2 3101284',
       '13508', '7266', '345775', 'C.A. 42795', 'AQ/4 3130', '363611',
       '28404', '345501', '350410', 'C.A. 34644', '349235', '112051',
       'C.A. 49867', 'A. 2. 39186', '315095', '368573', '2676',
       'SC 14888', 'CA 31352', 'W./C. 14260', '315085', '364859',
       'A/5 21175', 'SOTON/O.Q. 3101314', '2655', 'A/5 1478', 'PC 17607',
       '382650', '2652', '345771', '349202', '113801', '347467', '347079',
       '237735', '315092', '383123', '112901', '315091', '2658',
       'LP 1588', '368364', 'AQ/3. 30631', '28004', '350408', '347075',
       '2654', '244368', '113790', 'SOTON/O.Q. 3101309', '236854',
       'PC 17580', '2684', '349229', '110469', '244360', '2675', '2622',
       'C.A. 15185', '350403', '348125', '237670', '2688', '248726',
       'F.C.C. 13540', '113044', '1222', '368402', '315083', '112378',
       'SC/PARIS 2147', '28133', '248746', '315152', '29107', '680',
       '366713', '330910', 'SC/PARIS 2159', '349911', '244346', '364858',
       'C.A. 30769', '371109', '347065', '21332', '17765',
       'SC/PARIS 2166', '28666', '334915', '365237', '347086',
       'A.5. 3236', 'SOTON/O.Q. 3101262', '359309'], dtype=object)

In [16]:
data = data.drop('Name', axis=1)

In [104]:
data = data.drop('Ticket', axis=1)

## Taking Care of Missing Data

### Categorical Features

In [17]:
data.select_dtypes(np.object_).loc[:, data.isna().sum() > 0].columns

Index(['Cabin', 'Embarked'], dtype='object')

In [18]:
for column in ['Cabin', 'Embarked']:
  data[column].fillna(data[column].mode()[0], inplace = True)

In [19]:
data.select_dtypes(np.object_).loc[:, data.isna().sum() > 0].columns

Index([], dtype='object')

### Numeric Features

In [20]:
data.select_dtypes(np.number).loc[:, data.isna().sum() > 0].columns

Index(['Age', 'Fare'], dtype='object')

In [22]:
def knn_impute (df, column_na):
  df = df.copy()

  numeric_df = df.select_dtypes(np.number)
  non_na_columns = numeric_df.loc[: , numeric_df.isna().sum() == 0].columns

  y_train = numeric_df.loc[numeric_df[column_na].isna() == False, column_na]
  X_train = numeric_df.loc[numeric_df[column_na].isna() == False, non_na_columns]
  X_test = numeric_df.loc[numeric_df[column_na].isna() == True, non_na_columns]

  knn = KNeighborsRegressor()
  knn.fit(X_train, y_train)

  y_pred = knn.predict(X_test)

  df.loc[df[column_na].isna() == True, column_na] = y_pred

  return df

In [23]:
for column in ['Age', 'Fare']:
  data = knn_impute(data, column)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    1309 non-null   int64
 1   Sex       1309 non-null   object
 2   Age       1309 non-null   float64
 3   SibSp     1309 non-null   int64
 4   Parch     1309 non-null   int64
 5   Ticket    1309 non-null   object
 6   Fare      1309 non-null   float64
 7   Cabin     1309 non-null   object
 8   Embarked  1309 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 92.2+ KB

In [36]:
data1 = data.copy()

## Feature Engineer

In [40]:
data1[['1stCabin', '2ndCabin', '3tdCabin', '4thCabin']] = data1['Cabin'].str.split(' ', 4, expand=True)

In [43]:
data1.drop('Cabin', axis=1, inplace=True)

In [89]:
data2 = data1.copy()

In [90]:
data2[['space', '1stCabin-Letter', '1stCabin-Number']] = data2['1stCabin'].str.split('', 2, expand=True)
data2[['space', '2ndCabin-Letter', '2ndCabin-Number']] = data2['2ndCabin'].str.split('', 2, expand=True)
data2[['space', '3tdCabin-Letter', '3tdCabin-Number']] = data2['3tdCabin'].str.split('', 2, expand=True)
data2[['space', '4thCabin-Letter', '4thCabin-Number']] = data2['4thCabin'].str.split('', 2, expand=True)

In [91]:
data2.drop(['space', '1stCabin', '2ndCabin', '3tdCabin', '4thCabin'], axis=1, inplace=True)

In [92]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pclass           1309 non-null   int64
 1   Sex              1309 non-null   object
 2   Age              1309 non-null   float64
 3   SibSp            1309 non-null   int64
 4   Parch            1309 non-null   int64
 5   Ticket           1309 non-null   object
 6   Fare             1309 non-null   float64
 7   Embarked         1309 non-null   object
 8   1stCabin-Letter  1309 non-null   object
 9   1stCabin-Number  1309 non-null   object
 10  2ndCabin-Letter  1055 non-null   object
 11  2ndCabin-Number  1055 non-null   object
 12  3tdCabin-Letter  1029 non-null   object
 13  3tdCabin-Number  1029 non-null   object
 14  4thCabin-Letter  5 non-null      object
 15  4thCabin-Number  5 non-null      object
dtypes: float64(2), int64(3), object(11)
memory usage: 163.8+ KB

In [93]:
data2.select_dtypes(np.object_).loc[:, data2.isna().sum() > 0].columns

Index(['2ndCabin-Letter', '2ndCabin-Number', '3tdCabin-Letter',
       '3tdCabin-Number', '4thCabin-Letter', '4thCabin-Number'],
      dtype='object')

### Taking care of the new missing data

In [94]:
for column in ['2ndCabin-Letter', '2ndCabin-Number', '3tdCabin-Letter',
       '3tdCabin-Number', '4thCabin-Letter', '4thCabin-Number']:
  data2[column].fillna("None", inplace = True)

In [95]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pclass           1309 non-null   int64
 1   Sex              1309 non-null   object
 2   Age              1309 non-null   float64
 3   SibSp            1309 non-null   int64
 4   Parch            1309 non-null   int64
 5   Ticket           1309 non-null   object
 6   Fare             1309 non-null   float64
 7   Embarked         1309 non-null   object
 8   1stCabin-Letter  1309 non-null   object
 9   1stCabin-Number  1309 non-null   object
 10  2ndCabin-Letter  1309 non-null   object
 11  2ndCabin-Number  1309 non-null   object
 12  3tdCabin-Letter  1309 non-null   object
 13  3tdCabin-Number  1309 non-null   object
 14  4thCabin-Letter  1309 non-null   object
 15  4thCabin-Number  1309 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 163.8+ KB

## Feature Transformations

### Transform numeric features with skew normal distribution

In [96]:
skew_df = pd.DataFrame(data2.select_dtypes(np.number).columns, columns=['Feature'])
skew_df['Skew'] = skew_df['Feature'].apply(lambda feature: scipy.stats.skew(data2[feature]))
skew_df['Absolute Skew'] = skew_df['Skew'].apply(abs)
skew_df['Skewed'] = skew_df['Absolute Skew'].apply(lambda x: True if x>=0.5 else False)
skew_df

  Feature      Skew  Absolute Skew  Skewed
0  Pclass -0.597961       0.597961    True
1     Age  0.513989       0.513989    True
2   SibSp  3.839814       3.839814    True
3   Parch  3.664872       3.664872    True
4    Fare  4.364590       4.364590    True

In [97]:
data2[skew_df.query("Skewed == True")['Feature'].values].describe()

            Pclass          Age        SibSp        Parch         Fare
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean      2.294882    29.286636     0.498854     0.385027    33.283922
std       0.837836    13.627259     1.041658     0.865560    51.740569
min       1.000000     0.170000     0.000000     0.000000     0.000000
25%       2.000000    22.000000     0.000000     0.000000     7.895800
50%       3.000000    26.000000     0.000000     0.000000    14.454200
75%       3.000000    38.000000     1.000000     0.000000    31.275000
max       3.000000    80.000000     8.000000     9.000000   512.329200

In [98]:
for column in skew_df.query("Skewed == True")['Feature'].values:
  data2[column] = np.log1p(data2[column])

In [102]:
data3 = data2.copy()

In [105]:
data3 = data3.drop('Ticket', axis=1)

## Enconding Categoricals

In [106]:
data3 = pd.get_dummies(data3)
data3

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,3tdCabin-Letter_None,3tdCabin-Number_27,3tdCabin-Number_55,3tdCabin-Number_56,3tdCabin-Number_63,3tdCabin-Number_None,4thCabin-Letter_B,4thCabin-Letter_None,4thCabin-Number_66,4thCabin-Number_None
0,1.386294,3.135494,0.693147,0.000000,2.110213,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,1
1,0.693147,3.663562,0.693147,0.000000,4.280593,1,0,1,0,0,...,1,0,0,0,0,1,0,1,0,1
2,1.386294,3.295837,0.000000,0.000000,2.188856,1,0,0,0,1,...,0,1,0,0,0,0,0,1,0,1
3,0.693147,3.583519,0.693147,0.000000,3.990834,1,0,0,0,1,...,1,0,0,0,0,1,0,1,0,1
4,1.386294,3.583519,0.000000,0.000000,2.202765,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1.386294,3.161247,0.000000,0.000000,2.202765,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,1
1305,0.693147,3.688879,0.000000,0.000000,4.699571,1,0,1,0,0,...,1,0,0,0,0,1,0,1,0,1
1306,1.386294,3.676301,0.000000,0.000000,2.110213,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,1
1307,1.386294,3.161247,0.000000,0.000000,2.202765,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,1
1308,1.386294,3.025291,0.693147,0.693147,3.150952,0,1,1,0,0,...,0,1,0,0,0,0,0,1,0,1

In [107]:
data4 = data3.copy()

## Scaling

In [109]:
scaler = StandardScaler()
scaler.fit(data4)
data4 = pd.DataFrame(scaler.transform(data4), index=data4.index, columns=data4.columns)

In [110]:
data4

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,3tdCabin-Letter_None,3tdCabin-Number_27,3tdCabin-Number_55,3tdCabin-Number_56,3tdCabin-Number_63,3tdCabin-Number_None,4thCabin-Letter_B,4thCabin-Letter_None,4thCabin-Number_66,4thCabin-Number_None
0,0.808483,-0.220274,0.932011,-0.518791,-0.897977,-0.743497,0.743497,-0.50977,-0.32204,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
1,-1.607929,0.633646,0.932011,-0.518791,1.344317,1.344995,-1.344995,1.96167,-0.32204,-1.526692,...,1.917029,-1.878673,-0.047928,-0.02765,-0.061922,1.917029,-0.061922,0.061922,-0.061922,0.061922
2,0.808483,0.039011,-0.615607,-0.518791,-0.816728,1.344995,-1.344995,-0.50977,-0.32204,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
3,-1.607929,0.504212,0.932011,-0.518791,1.044957,1.344995,-1.344995,-0.50977,-0.32204,0.655011,...,1.917029,-1.878673,-0.047928,-0.02765,-0.061922,1.917029,-0.061922,0.061922,-0.061922,0.061922
4,0.808483,0.504212,-0.615607,-0.518791,-0.802359,-0.743497,0.743497,-0.50977,-0.32204,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,0.808483,-0.178631,-0.615607,-0.518791,-0.802359,-0.743497,0.743497,-0.50977,-0.32204,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
1305,-1.607929,0.674586,-0.615607,-0.518791,1.777177,1.344995,-1.344995,1.96167,-0.32204,-1.526692,...,1.917029,-1.878673,-0.047928,-0.02765,-0.061922,1.917029,-0.061922,0.061922,-0.061922,0.061922
1306,0.808483,0.654246,-0.615607,-0.518791,-0.897977,-0.743497,0.743497,-0.50977,-0.32204,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
1307,0.808483,-0.178631,-0.615607,-0.518791,-0.802359,-0.743497,0.743497,-0.50977,-0.32204,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
1308,0.808483,-0.398480,0.932011,1.150572,0.177246,-0.743497,0.743497,1.96167,-0.32204,-1.526692,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922

## Split train and test data

In [111]:
train_final = data4.loc[:train.index.max(), :].copy()
test_final = data4.loc[train.index.max()+1:, :].reset_index(drop=True).copy()

In [112]:
test_final

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,3tdCabin-Letter_None,3tdCabin-Number_27,3tdCabin-Number_55,3tdCabin-Number_56,3tdCabin-Number_63,3tdCabin-Number_None,4thCabin-Letter_B,4thCabin-Letter_None,4thCabin-Number_66,4thCabin-Number_None
0,0.808483,0.481595,-0.615607,-0.518791,-0.827878,-0.743497,0.743497,-0.50977,3.105202,-1.526692,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
1,0.808483,0.969412,0.932011,-0.518791,-0.929768,1.344995,-1.344995,-0.50977,-0.322040,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
2,-0.194418,1.409147,-0.615607,-0.518791,-0.630538,-0.743497,0.743497,-0.50977,3.105202,-1.526692,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
3,0.808483,0.097820,-0.615607,-0.518791,-0.734701,-0.743497,0.743497,-0.50977,-0.322040,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
4,0.808483,-0.220274,0.932011,1.150572,-0.405574,1.344995,-1.344995,-0.50977,-0.322040,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,0.808483,-0.178631,-0.615607,-0.518791,-0.802359,-0.743497,0.743497,-0.50977,-0.322040,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
414,-1.607929,0.674586,-0.615607,-0.518791,1.777177,1.344995,-1.344995,1.96167,-0.322040,-1.526692,...,1.917029,-1.878673,-0.047928,-0.02765,-0.061922,1.917029,-0.061922,0.061922,-0.061922,0.061922
415,0.808483,0.654246,-0.615607,-0.518791,-0.897977,-0.743497,0.743497,-0.50977,-0.322040,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
416,0.808483,-0.178631,-0.615607,-0.518791,-0.802359,-0.743497,0.743497,-0.50977,-0.322040,0.655011,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922
417,0.808483,-0.398480,0.932011,1.150572,0.177246,-0.743497,0.743497,1.96167,-0.322040,-1.526692,...,-0.521641,0.532291,-0.047928,-0.02765,-0.061922,-0.521641,-0.061922,0.061922,-0.061922,0.061922

## Training Model

In [153]:
classifier = GradientBoostingClassifier()
classifier.fit(train_final, target)

GradientBoostingClassifier()

In [154]:
final_predictions = classifier.predict(test_final)

In [148]:
final_predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

## Make Submission

In [155]:
submission = pd.concat([testIds, pd.Series(final_predictions, name='Survived')], axis=1)

In [156]:
submission.to_csv('./submission.csv', index=False, header=True)